config/n8n_workflow_email.json
{
  "name": "Green SME Compliance - Email Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compliance-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "email": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "email-001",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [470, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.attachments }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-001",
      "name": "Has Attachments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"sent\", \"messageId\": $json.messageId, \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "respond-001",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"sent_with_attachments\", \"messageId\": $json.messageId, \"attachmentCount\": $json.attachments.length } }}"
      },
      "id": "respond-002",
      "name": "Respond With Attachments",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "messageId",
              "value": "={{ $json.envelope.messageId }}"
            },
            {
              "name": "recipient",
              "value": "={{ $json.envelope.to }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-001",
      "name": "Extract Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info": {
      "main": [
        [
          {
            "node": "Respond With Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "green-sme-email",
  "meta": {
    "instanceId": "green-sme-compliance"
  }
}
